<h1 class='text-center my-5 text-4xl'>My search history</h1>

<% unless @searches.empty? %>
  <div class="w-9/12 mx-auto">
    <%= link_to "Clear search history", destroy_my_search_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "w-42 my-14 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
              Date
            </th>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
              Make
            </th>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
              Model
            </th>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
              Year from
            </th>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
              Year to
            </th>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
              Price from
            </th>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
              Price to
            </th>
          </tr>
        </thead>
        <tbody>
          <% @searches.each do |search| %>
            <tr class="border-b border-gray-200 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                <%= search.date %>
              </th>
              <td class="px-6 py-3 bg-gray-100">
                <%= search.search_rules['make'] %>
              </td>
              <td class="px-6 py-3 bg-gray-100">
                <%= search.search_rules['model'] %>
              </td>
              <td class="px-6 py-3 bg-gray-100">
                <%= search.search_rules['year_from'] %>
              </td>
              <td class="px-6 py-3 bg-gray-100">
                <%= search.search_rules['year_to'] %>
              </td>
              <td class="px-6 py-3 bg-gray-100">
                <%= search.search_rules['price_from'] %>
              </td>
              <td class="px-6 py-3 bg-gray-100">
                <%= search.search_rules['price_to'] %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <h3 class='text-center my-5 text-2xl'>Search history is empty.</h3>
<% end %>

<div class="my-5 mx-auto w-full max-w-sm md:max-w-xl lg:max-w-2xl">
  <div class="digg_pagination">
    <div>
      <%= will_paginate @searches, :container => false, :page_links => false, class: "pages" %>
    </div>
  </div>
</div>
