%h1.text-center.my-5.text-4xl Statistics
- unless @statistics.empty?
  .mx-auto{:class => "w-9/12"}
    = link_to "Clear statistics", destroy_statistics_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "w-42 my-14 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    .relative.overflow-x-auto.shadow-md.sm:rounded-lg
      %table.w-full.text-sm.text-left.text-gray-500.dark:text-gray-400
        %thead.text-xs.text-gray-700.uppercase.dark:text-gray-400
          %tr
            %th.px-6.py-3.bg-gray-50{:scope => "col"}
              Make
            %th.px-6.py-3.bg-purple-50{:scope => "col"}
              Model
            %th.px-6.py-3.bg-gray-50{:scope => "col"}
              Year from
            %th.px-6.py-3.bg-purple-50{:scope => "col"}
              Year to
            %th.px-6.py-3.bg-gray-50{:scope => "col"}
              Price from
            %th.px-6.py-3.bg-purple-50{:scope => "col"}
              Price to
            %th.px-6.py-3.bg-blue-50{:scope => "col"}
              Requests quantity:
            %th.px-6.py-3.bg-green-50{:scope => "col"}
              Total quantity:
        %tbody
          - @statistics.each do |statistic|
            %tr.border-b.border-gray-300
              %td.px-6.py-3.bg-gray-100
                = statistic.search_rules['make']
              %td.px-6.py-3.bg-purple-100
                = statistic.search_rules['model']
              %td.px-6.py-3.bg-gray-100
                = statistic.search_rules['year_from']
              %td.px-6.py-3.bg-purple-100
                = statistic.search_rules['year_to']
              %td.px-6.py-3.bg-gray-100
                = statistic.search_rules['price_from']
              %td.px-6.py-3.bg-purple-100
                = statistic.search_rules['price_to']
              %td.px-6.py-3.bg-blue-100
                = statistic.requests_quantity
              %td.px-6.py-3.bg-green-100
                = statistic.total_quantity
- else
  %h3.text-center.my-5.text-2xl Statistics are empty.
.my-5.mx-auto.w-full.max-w-sm.md:max-w-xl.lg:max-w-2xl
  .digg_pagination
    %div
      = will_paginate @statistics, :container => false, :page_links => false, class: "pages"
