<div class="my-5 mx-auto w-full max-w-sm md:max-w-xl lg:max-w-2xl">
  <p class="font-bold">Your search paramethers:</p>
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mb-5">
      <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
        <tr>
          <th scope="col" class="py-3">
            Make
          </th>
          <th scope="col" class="py-3">
            Model
          </th>
          <th scope="col" class="py-3">
            Year from
          </th>
          <th scope="col" class="py-3">
            Year to
          </th>
          <th scope="col" class="py-3">
            Price from
          </th>
          <th scope="col" class="py-3">
            Price to
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white dark:bg-gray-800">
          <th scope="row" class="py-4">
            <%= @search_params["make"] %>
          </th>
          <td class="py-4">
            <%= @search_params["model"] %>
          </td>
          <td class="py-4">
            <%= @search_params["year_from"] %>
          </td>
          <td class="py-4">
            <%= @search_params["year_to"] %>
          </td>
          <td class="py-4">
            <%= @search_params["price_from"] %>
          </td>
          <td class="py-4">
            <%= @search_params["price_to"] %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <%= link_to "Change search params", search_path, class: "text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
  <%= link_to "Reset", cars_path, class: "text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
</div>
